<?xml version="1.0"?>
<!--
/**
 * Beecom_BetterSlider extension
 *                     NOTICE OF LICENSE
 * 
 *                     This source file is subject to the Beecom License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://www.beecom.io/LICENSE.txt
 * 
 *                     @category  Beecom
 *                     @package   Beecom_BetterSlider
 *                     @copyright Copyright (c) 2016
 *                     @license   https://www.beecom.io/LICENSE.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Beecom_BetterSlider" setup_version="2.0.1">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Beecom_Core"/>
            <module name="Beecom_OwlCarousel"/>
        </sequence>
    </module>
</config>
